<!DOCTYPE html>
<html>
  <head>
    <title>HERO SQUAD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/mdb.min.css">
  </head>
  <body>
    <div class="container-fluid">
    <ul class="nav aqua-gradient py-4 mb-4 font-weight-bold z-depth-1">

      <li class="nav-item">
        <a class="nav-link active white-text" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link white-text" href="/squads">View Squads</a>
      </li>
    </ul>
     <div class="main-part text-center">
        <div class="row h100">
            <div class="col-sm-12 mx-auto">
                #parse( $template )
            </div>
        </div>
     </div>

  </body>
</html>