{{#partial "styles"}}

    <link rel='stylesheet' href='/css/index.css'>

{{/partial}}

{{#partial "content"}}

    <div id="heading">
        <h2>With Great Power</h2>
        <h1>Comes Great Responsibility</h1>
    </div>

{{/partial}}

{{> layout.hbs}}