{{#partial "styles"}}

    <link rel='stylesheet' href='/css/success.css'>

{{/partial}}

{{#partial "content"}}

    <div class="success">
    <p>Hero successfully created!</p>
    <p><a href="/heroes/new" class="btn-info">Create Another Hero</a></p>
    <p><a href="/heroes" class="btn-info">View Heroes</a></p>
    </div>

{{/partial}}

{{> layout.hbs}}